* {
    background-color: skyblue;
}

h1{
    color: greenyellow;
}

#head {
    color:red;
    display: flex;
    justify-content: center;
}
h2{
    color: greenyellow;

}
h3{
    color: greenyellow;
}
